$contentBackground: #fff;
$headerBackgroundImg: url("../img/m-h-day.jpg");

//fonts
$fontBasic: 'Source Sans Pro', sans-serif;
$fontSecond: 'Hind', sans-serif;
$fontThird: 'Fresca', sans-serif;

$baseFontColor: #1e2029;
$secondFontColor: #fff;
$highlightColor: #189abe;

$highlitedTextWrapperBackground: blue;

$buttonsBackground: #699900;

$cardBgColor: #20222e;
$gradientColor: linear-gradient(90deg, #6ea010 0%, #2d58c4 100%);
