$contentBackground: #21232e;
$headerBackgroundImg: url("../img/m-h-night.jpg");

//fonts
$fontBasic: 'Source Sans Pro', sans-serif;
$fontSecond: 'Hind', sans-serif;
$fontThird: 'Fresca', sans-serif;

$baseFontColor: #fff;
$secondFontColor: #fff;
$highlightColor: #189abe;

$buttonsBackground: #e3ac00;

$cardBgColor: #3b3f50;
$gradientColor: linear-gradient(90deg, #e0a704 0%, #942e51 100%);